{:paths ["src"]
 :deps
 {scicloj/tablecloth {:mvn/version "7.021"}
  org.scicloj/clay {:mvn/version "2-alpha80"}
  org.scicloj/noj {:mvn/version "1-alpha25"}
  org.clojure/tools.namespace {:mvn/version "1.4.5"}

  org.slf4j/slf4j-simple     {:mvn/version "2.0.0-alpha5"}
  org.slf4j/log4j-over-slf4j {:mvn/version "1.7.36"}
  org.slf4j/jul-to-slf4j     {:mvn/version "1.7.36"}
  org.slf4j/jcl-over-slf4j   {:mvn/version "1.7.36"}

  jarohen/chime {:mvn/version "0.3.3"}
  cider/cider-nrepl {:mvn/version "0.44.0"}
  refactor-nrepl/refactor-nrepl {:mvn/version "3.9.1"}

  ai.unifica.lab/config {:git/url "https://github.com/unifica-ai/lab"
                         :git/tag "v0.2.1"
                         :git/sha "1ee5d28"
                         :deps/root "libs/config"}}
 :aliases
 {:test ;; added by neil
  {:extra-paths ["test"]
   :extra-deps {io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.0" :git/sha "b3fd0d2"}}
   :main-opts ["-m" "cognitect.test-runner"]
   :exec-fn cognitect.test-runner.api/test}}
 }
